@page "/"
@rendermode InteractiveServer
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts


<div class="control-section" align='center'>

    <SfChart ID="waterfall" Title="DLF Ltd. Financial Overview (FY 2024)" Width="@Width" Theme="Theme.Bootstrap4">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>

        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>

        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                           LabelIntersectAction="@AxisLabelRotation" LabelRotation="@Rotation">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
        </ChartPrimaryXAxis>

        <ChartPrimaryYAxis Minimum="0" Maximum="7000" Interval="1000" Title="₹ Crore" LabelFormat="{value}">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
        </ChartPrimaryYAxis>

        <ChartTooltipSettings Enable="true" Header=""
                              Format="<b>${point.x}</b><br>Value: <b>${point.y} Cr</b>"></ChartTooltipSettings>

        <ChartLegendSettings Visible="false"></ChartLegendSettings>

        <ChartSeriesCollection>
            <ChartSeries ColumnWidth="0.5"
                         NegativeFillColor="#e56590"
                         DataSource="@ChartPoints"
                         Name="DLF FY2024"
                         XName="X"
                         YName="Y"
                         Width="2"
                         IntermediateSumIndexes="@IntermediateSumIndexes"
                         SumIndexes="@SumIndexes"
                         Type="ChartSeriesType.Waterfall">
                <ChartSeriesAnimation Enable="true"></ChartSeriesAnimation>
                <ChartMarker>
                    <ChartDataLabel Visible="true" Position="LabelPosition.Outer">
                        <ChartDataLabelFont Size="@Size"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
                <ChartSeriesConnector Color="#5F6A6A" Width="0.8" DashArray="1,2"></ChartSeriesConnector>
                <ChartSeriesBorder Width="0.2" Color="black"></ChartSeriesBorder>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code {
    public string Width { get; set; } = "90%";
    public string Size { get; set; } = "12px";
    public LabelIntersectAction AxisLabelRotation { get; set; } = LabelIntersectAction.Rotate45;
    public double Rotation { get; set; } = 0;

    // Intermediate Sum: Gross Profit, Final Sum: Net Profit
    private Double[] IntermediateSumIndexes { get; set; } = new Double[] { 2 };
    private Double[] SumIndexes { get; set; } = new Double[] { 6 };

    // DLF Ltd. FY2024 Financial Highlights (₹ in Crore)
    public List<WaterfallChartData> ChartPoints { get; set; } = new List<WaterfallChartData>
    {
        new WaterfallChartData { X = "Revenue", Y = 6254.58 },
        new WaterfallChartData { X = "Cost of Revenue", Y = -2536.31 },
        new WaterfallChartData { X = "Gross Profit" }, // Intermediate Sum
        new WaterfallChartData { X = "SG&A Expenses", Y = -1722.80 },
        new WaterfallChartData { X = "Depreciation", Y = -105.75 },
        new WaterfallChartData { X = "Interest Income", Y = 130.22 },
        new WaterfallChartData { X = "Net Profit" } // Final Sum
    };

    public class WaterfallChartData
    {
        public string X { get; set; }
        public double Y { get; set; }
    }
}